<header class="header fixed-top glassEffect">
  <div class="branding docs-branding">
    <div class="container-fluid position-relative py-2">
      <div class="docs-logo-wrapper gap-2 d-flex">
        <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible d-xl-none" type="button" hidden>
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="site-logo">
          <a class="navbar-brand" href="/">
            <span class="logo-text">Neutral<span class="text-alt">AXIS</span></span>
          </a>
          <span class="badge bg-primary"></span>
        </div>
      </div>
      <div class="docs-top-utilities d-flex justify-content-end align-items-center gap-3">
        <%# <div class="top-search-box d-none d-lg-flex">
            <form class="search-form">
              <input type="search" placeholder="Search the docs..." name="search" class="form-control search-input" autocomplete="off">
              <div id="results"></div>
            </form>
          </div> %>
        <a href="/" class="btn-changelog btn btn-primary m-0" style="text-decoration: none;">☰</a>
      </div>
    </div>
  </div>
</header>